@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: white;
  --text-gray-600: #4b5563;
  --text-slate-50: #f8fafc;
  --text-gray-500: #6b7280;
  --text-gray-100: #f3f4f6;
  --text-gray-800: #1f2937;
  --text-blue-800: #1e40af;
  --text-gray-700: #374151;
  --text-gray-950: black;
  --text-red-600: #dc2626;
  --bg-gray-100: #f3f4f6;
  --bg-blue-200: #bfdbfe;
  --bg-gray-50: #f9fafb;
  --bg-slate-50: #f8fafc;
  --bg-gray-400: #9ca3af;
  --bg-gray-950: black;
  --bg-gray-200: #e5e7eb;
  --bg-gray-600: #4b5563;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  font-family: 'Space Grotesk', sans-serif;
}

body.dark-theme {
  --background-color: black; /* Opposite of white */
  --text-gray-600: #d1d5db; /* Opposite of #4b5563 */
  --text-slate-50: #0f172a; /* Opposite of #f8fafc */
  --text-gray-500: #d1d5db; /* Opposite of #6b7280 */
  --text-gray-100: #1f2937; /* Opposite of #f3f4f6 */
  --text-gray-800: #f9fafb; /* Opposite of #1f2937 */
  --text-blue-800: #bfdbfe; /* Opposite of #1e40af */
  --text-gray-700: #f3f4f6; /* Opposite of #374151 */
  --text-gray-950: #f8fafc; /* Opposite of black */
  --text-red-600: #dc2626; /* Opposite of #dc2626 */
  --bg-gray-100: #1f2937; /* Opposite of #f3f4f6 */
  --bg-blue-200: #1e3a8a; /* Opposite of #bfdbfe */
  --bg-gray-50: #111827; /* Opposite of #f9fafb */
  --bg-slate-50: #0f172a; /* Opposite of #f8fafc */
  --bg-gray-400: #6b7280; /* Opposite of #9ca3af */
  --bg-gray-950: #f8fafc; /* Opposite of black */
  --bg-gray-200: #374151; /* Opposite of #e5e7eb */
  --bg-gray-600: #d1d5db; /* Opposite of #4b5563 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

#logo:hover span {
  color: black;
}

#project_card {
  box-shadow: 5px 10px 10px gray;
}

#project_card:hover {
  box-shadow: 10px 20px 20px gray;
}

input:user-invalid {
  border-color: red;
}

input:user-valid {
  border-color: green;
}

textarea:user-invalid {
  border-color: red;
}

textarea:user-valid {
  border-color: green;
}

/* just for testing */
/* * {
  border: 1px solid red;
} */
